<div class="container">
    <section class="section">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">SEARCH PAGE</h1>
                <p class="lead">Search Page for the users.</p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col card">
                    <h2>Search Here</h2><br>
                    <form>
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Seach</label>
                            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="search...">
                          </div>
                          <div class="col-auto">
                            <div class="form-check mb-2">
                              <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                              <label class="form-check-label" for="autoSizingCheck">Remember my Search</label>
                            </div>
                          </div>
                          <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">Search</button>
                          </div>
                        </div><hr>
                        
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormCustomSelectPref">Preference</label>
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>Select Your Search Here</option>
                                    <option value="1">Orange</option>
                                    <option value="2">Apple</option>
                                    <option value="3">Pineaple</option>
                                    <option value="4">Strawberry</option>
                                    <option value="5">Bluberry</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <div class="form-check mb-2">
                                  <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                                  <label class="form-check-label" for="autoSizingCheck">Remember my Search</label>
                                </div>
                              </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-info mb-2">Search</button>
                            </div>                           
                        </div>

                      </form><br>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col card">
                            <h5 class="text-center">Abilities</h5>
                        </div>
                        <div class="col card">
                            <h5 class="text-center">Weaknesses</h5>
                        </div>
                        <div class="col card">
                            <h5 class="text-center">Sprites</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>